# PostgreSQL Configuration
DB_USER=postgres
DB_PASSWORD=Izone@2026!
DB_NAME=izone_dashboard
DB_PORT=5432

# pgAdmin Configuration
PGADMIN_EMAIL=admin@izone.edu.vn
PGADMIN_PASSWORD=admin123
PGADMIN_PORT=5050
